@import
	url('https://fonts.googleapis.com/css?family=PT+Serif&display=swap');

@import url('reset.css');

@import url('typography.css');

html {
	font: 16px/1.5 'PT Serif', serif;
}

ul li {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	background-color: #efefef;
	padding: 15px;
	border-radius: 5px 5px 0 0;
	margin-bottom: 3px;
}

section {
	width: 60%;
	margin: 0 auto;
	margin-top: 50px;
}

header {
	background-color: #01c5fe;
	width: 150px;
	margin-left: auto;
	padding: 5px;
	text-align: center;
	border-radius: 5px 5px 0 0;
	color: #ffffff;
}

i {
	color: green;
	font-size: 1.5em;
	padding-right: 20px;
}