html {
	box-sizing: border-box;
	font: 14px/1.5 Verdana, Helvetica, sans-serif;
}

*, *:before, *:after {
	box-sizing: inherit;
}

/*
 * Simple white space reset
 */
* {
	padding: 0;
	margin: 0;
}

body {
	background: #ffffff;
	color: #333;
	font: inherit;
}

article {
	padding: 0 18vw;
}

h1 {
	font-size: var(--font-size-h1); 
	margin-top : 1rem;
	margin-bottom: 2rem;
	text-align: center;
	font-weight: 500;
	text-transform: uppercase;
	text-align: center;
	margin-top: 1rem;
}

h3 {
	font-size: var(--font-size-h3);
	margin-top: 1rem;
	margin-bottom: 1rem;
	font-weight: 600;
	font-style: italic;
}

p{
	font-size: var(--font-size-p);
}

.container {
	display: flex;
	flex-direction: column;
	max-width: 1200px;
	margin: 2rem auto;
}

.article {
	flex: 0 0 100%;
}