@import url('variables.css');
.about-me h1 {
	font-size: 2.4rem;
	margin-top: 0.4em;
	font-weight: 500;
	letter-spacing: 2px;
}

.header-about-me {
	text-align: center;
	text-transform: uppercase;
}

.subheading {
	text-align: center;
	color: var(--electric-blue);
	letter-spacing: 7px;
	font-size: 1em;
	margin-bottom: 2em;
}

.align-left img {
	width: 70%;
	height: auto;
	margin-left: 5em;
	display: block;
}

.my-info {
	display: grid;
	grid-template-columns: 45% 45%;
	align-items: center;
	justify-content: center;
}

.align-right {
	padding-top: 1em;
	letter-spacing: 3px;
}

.align-right-info {
	color: var(--steel-grey);
	border-bottom: 1px dashed var(--electric-blue);
	padding-bottom: 1em;
}

.align-right-info h4 {
	color: var(--choral-grey);
	text-transform: uppercase;
	font-weight: 400;
	font-size: 1.2rem;
}

.align-right-info p {
	color: var(--steel-grey);
	font-size: 0.8em;
}

.align-right-info a {
	text-decoration: none;
	color: var(--electric-blue);
}