@import url('variables.css');

.certificates {
	background: url('../images/banner1.jpg') no-repeat center;
	background-size: 100% 100%;
}

.certificates h1 {
	color: white;
}

.certificates-container.sertificate {
	align-items: center;
}


.sertificate {
	padding-right:1em;
	margin-left: 1.5em;
	margin-bottom: 2.3em;
	text-align: left; 
	cursor: pointer;
	display: flex;

}

.soft-uni{
	margin-top: 0em;
}

.sertificate h6 {
	margin: 0em 0 0.5em 0.5em;
	color: var(--electric-blue);
	font-size: 1em;
	font-weight: 400;
}

.sertificate h5{
	color: var(--anchor-grey);
	font-size: 1em;
}

.sertificate p {
	color: var(--anchor-grey);
	font-size: 0.7em;
	 flex-basis: 100%;
}

.sertificate a {
	color: var(--electric-blue);
	text-decoration: none;
}

.sertificate img {
	height: 90px;
	width: auto;
	margin-right: 0.5em;

}

.certificate {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.3);
}

embed {
	position: fixed;
	width: 80%;
	height: 100%;
	top: 0%;
	left: 10%;
	animation-name: fadeIn;
	animation-duration: 1s;
}