@media screen and ( max-width : 480px) {
	.education-uni {
		margin-left: 0em;
		margin-right: 0em;
	}
	.service-container {
		grid-template-columns: 100% !important;
		padding: 0 0 2em 0 !important;
	}
	.education h1 {
		font-size: 2em;
	}
	.repositories h1 {
		font-size: 2em;
	}
	.copyright {
		font-size: 0.7em !important;
	}
	.icons>i {
		top: calc(15%) !important;
	}
}

@media screen and ( max-width : 768px) {
	.nav-icon {
		line-height: 0.1 !important;
		font-size: 1.5em !important;
	}
	.service-container {
		padding: 0 0 0 0;
	}
	.wrapper {
		grid-template-columns: repeat(1, 350px) !important;
		grid-template-rows: repeat(9, 250px) !important;
	}
	.design-patterns {
		grid-row: span 1 !important;
		height: 250px !important;
	}
	.footer-container {
		grid-template-columns: repeat(1, 350px) !important;
		grid-template-rows: repeat(3, 150px) !important;
	}
	.email {
		padding-top: 20px !important;
		grid-row: span 1 !important;
		height: 150px !important;
	}
}

@media screen and ( max-width : 1080px) {
	.my-info {
		grid-template-columns: 100%;
	}
	.agile-left img {
		width: 70%;
		height: auto;
		display: block;
		margin: 0 auto;
	}
	.agile-right-info {
		margin-top: 1em;
		text-align: center;
	}
	.agile-left img {
		width: 50%;
		height: auto;
	}
	.agile-right {
		width: 80%;
		margin: 0 auto;
	}
	.agile-right-info p {
		font-size: 1em;
	}
	.service-container {
		grid-template-columns: 60%;
		padding-bottom: 2em;
	}
	.header-services h1 {
		padding-top: 4rem;
	}
	.service p {
		font-size: 1em;
	}
	.service h4 {
		font-size: 1em;
	}
	.services {
		background: url('../images/serve1.jpg') no-repeat center;
		background-size: 150% 100%;
	}
	.service {
		margin-bottom: 2em;
	}
	.service:last-child {
		padding-bottom: 1em;
	}
	.header-services p {
		margin-bottom: 2em;
	}
	.skills {
		grid-template-columns: 100%;
	}
	.wrapper {
		grid-template-columns: repeat(2, 350px);
		grid-template-rows: repeat(5, 250px);
	}
	.design-patterns {
		grid-row: span 2;
		height: 510px;
	}
	.footer-container {
		grid-template-columns: repeat(2, 350px);
		grid-template-rows: repeat(2, 150px);
	}
	.email {
		grid-row: span 2;
		height: 320px;
		padding-top: 100px;
	}
	.copyright {
		font-size: 1em;
	}
	.icons>i {
		top: calc(30%);
	}
}