@media screen and (max-width : 1280px) {
	.education-uni {
		margin-left: 1em;
		margin-right: 1em;
	}
	.education-uni h6 {
		font-size: 0.8em;
	}
}

@media screen and (max-width : 1080px) {
	.my-info {
		grid-template-columns: 100%;
	}
	.align-left img {
		width: 30%;
		height: auto;
		display: block;
		margin: 0 auto;
	}
	.align-right-info {
		margin-top: 1em;
		text-align: center;
	}
	.align-right {
		width: 80%;
		margin: 0 auto;
	}
	.align-right-info p {
		font-size: 1em;
	}
	.service-container {
		grid-template-columns: 60%;
		padding-bottom: 2em;
	}
	.service p {
		font-size: 1em;
	}
	.service h4 {
		font-size: 1em;
	}
	.services {
		background: url('../images/serve1.jpg') no-repeat center;
		background-size: 150% 100%;
	}
	.service {
		margin-bottom: 2em;
	}
	.service:last-child {
		padding-bottom: 1em;
	}
	.header-services p {
		margin-bottom: 2em;
	}
	.education-uni {
		margin-left: 2em;
		margin-right: 2em;
	}
	.skills {
		grid-template-columns: 100%;
	}
	.sertificate {
		margin-left: 2em;
	}
	.wrapper {
		grid-template-columns: repeat(2, 350px);
		grid-template-rows: repeat(5, 250px);
	}
	.design-patterns {
		grid-row: span 2;
		height: 520px;
	}
	.footer-container {
		grid-template-columns: repeat(2, 350px);
		grid-template-rows: repeat(2, 150px);
	}
	.hide-map {
		grid-row: span 2;
		height: 320px;
		padding-top: 100px;
	}
	.call {
		grid-column: 2/2;
	}
	.copyright {
		font-size: 1em;
	}
}

@media screen and (max-width : 768px) {
	.align-left img {
		width: 50%;
		height: auto;
	}
	.nav-icon {
		line-height: 0.1;
		font-size: 1.5em;
	}
	.service-container {
		padding: 0 0 0 0;
	}
	.repositories .wrapper {
		grid-template-columns: repeat(1, 350px);
		grid-template-rows: repeat(9, 250px);
	}
	.design-patterns {
		grid-row: span 1;
		height: 250px;
	}
	.footer-container {
		grid-template-columns: repeat(1, 350px);
		grid-template-rows: repeat(3, 150px);
	}
	.hide-map {
		padding-top: 20px;
		grid-row: span 1;
		height: 150px;
	}
	.call {
		grid-column: 1/2;
	}
	.footer-container p {
		font-size: 1em;
	}
	.icons>a i {
		top: calc(25%);
	}
}

@media screen and (max-width : 480px) {
	.education-uni {
		margin-left: 0em;
		margin-right: 0em;
	}
	.my-experience .education-uni {
		margin-left: 0em;
		margin-right: 0em;
	}
	.service-container {
		grid-template-columns: 100%;
		padding: 0 0 2em 0;
	}
	.icons>a i {
		top: calc(30%);
	}
	.sertificate img {
		height: 60px;
	}
}

@media screen and (max-width : 375px) {
	.repositories .wrapper {
		grid-template-columns: repeat(1, 300px);
		grid-template-rows: repeat(9, 250px);
	}
	.repositories .wrapper .button {
		width: 300px;
	}
	.footer-container {
		grid-template-columns: repeat(1, 300px);
		grid-template-rows: repeat(3, 150px);
	}
	.footer-container .container {
		width: 300px;
	}
	.education-uni h6 {
		font-size: 0.6em;
	}
}