@import url('variables.css');

.navigation {
	overflow: hidden;
	background-color: var(--electric-blue);
	display: flex;
	justify-content: flex-end;
	padding-right: 1.5em;
}

.navigation a {
	float: left;
	display: block;
	color: var(--pearl-river);
	text-align: center;
	padding: 1.2em 1.2em;
	text-decoration: none;
	font-size: 17px;
}

.navigation a:hover {
	background-color: white;
	color: var(--steel-grey);
}

.navigation .icon {
	display: none;
}

@media screen and (max-width: 768px) {
	.navigation a:not(:first-child ) {
		display: none;
	}
	.navigation {
		display: block;
		padding-right: 0em;
	}
	.navigation a.icon {
		float: right;
		display: block;
	}
	.navigation.responsive {
		position: relative;
	}
	.navigation.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.navigation.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
	.responsive a:hover {
	    color: #696969;
        cursor: pointer;
        background-position: -50% 100%;
	}
	.responsive a{
	  --initialTextColor: #FFF;
      --slideTextColor: #696969;

      --initialBgColor: var(--electric-blue);
      --slideBgColor: #FFF;
      color: white;
      
      background-image: linear-gradient(90deg,
          var(--initialBgColor) 0%,
          var(--initialBgColor) 50%,
          var(--slideBgColor) 50%,
          var(--slideBgColor) 200%);
      background-size: 500%;
      transition: background-position .2s cubic-bezier(.47, .1, 1, .63),
        color .2s linear;
      transition-delay: 0.0s, 0.1s;
	}
}