@import url('variables.css');

.repositories h1 {
	font-size: 2.4rem;
	margin-top: 0.8em;
	font-weight: 500;
	letter-spacing: 2px;
}

.repositories {
	text-align: center;
	text-transform: uppercase;
}

.wrapper {
	margin: 3em auto 2em auto;
	display: grid;
	grid-template-columns: repeat(3, 350px);
	grid-template-rows: repeat(3, 250px);
	grid-gap: 20px;
	justify-content: center;
}

.algorithms-repo {
	background: url('../images/12.png') no-repeat center;
}

.java-oop-repo {
	background: url('../images/5.png') no-repeat center;
}

.javascript-repo {
	background: url('../images/11.png') no-repeat center;
}

.my-sql-repo {
	background: url('../images/4.png') no-repeat center;
}


.html-css-repo {
	background: url('../images/6.png') no-repeat center;
}

.design-patterns-repo {
	background: url('../images/7.png') no-repeat center;
}

.java-advanced-repo {
	background: url('../images/8.png') no-repeat center;
}

.java-fundamentals-repo{
	
	background: url('../images/10.png') no-repeat center;
}

.game-repo {
	background: url('../images/9.png') no-repeat center;
}

.whiten h4 {
	position: relative;
	transform: translateY(200%);
}

.button {
	display: block;
	width: 350px;
	height: 250px;
	border: none;
	transition: all 0.3s ease 0s;
	box-shadow: 0px 15px 20px #e0e0e0;
	cursor: pointer;
	outline: none;
}

.link {
	display: inline-block; 
	height : 100%; 
	width : 100%; 
}

.button:hover {
	box-shadow: 0px 15px 20px rgba(42, 147, 227, 0.4);
	transform: translateY(-7px);
}