.repositories h1 {
	font-size: 2.4rem;
	margin-top: 0.8em;
	font-weight: 500;
	letter-spacing: 2px;
}

.repositories {
	text-align: center;
	text-transform: uppercase;
}

.repositories p {
	text-align: center;
	color: #44c7f4;
	letter-spacing: 7px;
	font-size: 13px;
	margin-bottom: 4em;
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(3, 350px);
	grid-template-rows: repeat(3, 250px);
	grid-gap: 10px;
	justify-content: center;
}

.spring-mvc {
	background: url('../images/1.png') no-repeat center;
}

.java-ee {
	background: url('../images/2.png') no-repeat center;
}

.hibernate {
	background: url('../images/3.png') no-repeat center;
}

.my-sql {
	background: url('../images/4.png') no-repeat center;
}

.java-oop {
	background: url('../images/5.png') no-repeat center;
}

.html-css {
	background: url('../images/6.png') no-repeat center;
}

.design-patterns {
	background: url('../images/7.png') no-repeat center;
}

.java-advanced {
	background: url('../images/8.png') no-repeat center;
}

.game {
	background: url('../images/9.png') no-repeat center;
}

ul {
	list-style: none;
	justify-content: center;
	display: flex;
}

.whiten h4 {
	position: relative;
	transform: translateY(200%);
}

.link {
	display: block;
	width: 350px;
	height: 250px;
}

.button {
	width: 350px;
	height: 250px;
	border: none;
	transition: all 0.3s ease 0s;
	box-shadow: 0px 15px 20px #e0e0e0;
	cursor: pointer;
	outline: none;
}

.button:hover {
	box-shadow: 0px 15px 20px rgba(42, 147, 227, 0.4);
	transform: translateY(-7px);
}