@import url('reset.css');

@import url('typography.css');

@import url('header.css');

@import url('navigation.css');

@import url('about.css');

@import url('services.css');

@import url('my-education.css');

@import url('my-skills.css');

@import url('certificates.css');

@import url('my-experience.css');

@import url('repositories.css');

@import url('contacts.css');

@import url('footer.css');

@import url('media.css');