@import url('variables.css');

html {
	font: 21px/1.5 Arial, sans-serif;
}

@media screen and (max-width: 1080px) { html { font-size: 21px } }
@media screen and (max-width: 768px) { html { font-size: 16px } }
@media screen and (max-width: 480px) { html { font-size: 14px } }
@media screen and (max-width: 375px) { html { font-size: 12px } }
 
body {
}

h1 { font-size: 2.2rem; }
h2 { font-size: 2.0rem; }
h3 { font-size: 1.8rem; }
h4 { font-size: 1.6rem; }
h5 { font-size: 1.4rem; }
h6 { font-size: 1.2rem; }

blockquote {
	border-left: 4px solid #DDD;
	font-style: italic;
	margin: 0 0 1.5rem 2rem;
	padding: 1rem 2rem;
	position: relative;
	color: #444;
	font-family: "Georgia", serif;
	padding-top: 0;
}

blockquote .author {
	text-align: right;
}

table {
	width: 100%;
	table-layout: fixed;
	margin-bottom: 1.5rem;
	border: 1px solid var(--anchor-grey);
	border-spacing: 0;
	border-collapse: collapse;
}

table td, table th {
	border: 1px solid #CCC;
	padding: 0.3rem 0.5rem;
}

table thead th {
	text-align: center;
	background: var(--electric-blue);
}

table tr:nth-child(odd) td {
	background: white;
}

table tr:hover td {
	background: black;
	color: white;
	border-color: transparent;
}

hr {
	margin: 2rem 0;
}
