:root {
	--electric-blue: #44c7f4; 
	--steel-grey:#696969;
	--pewter-grey:#808080;
	--choral-grey:#313131;
	--anchor-grey:#d2d6da;
	--iron-grey:#999;
	--charcoal:#2e2e2e;
	--pearl-river:#f2f2f2;
	--papaya-orange:#eb5424;
	
}