html {
	font: 18px/1.5 Verdana, Helvetica, sans-serif;
}

@media screen and (min-width: 500px) {
	html {
		font-size: 14px;
	}
}

@media screen and (min-width: 700px) {
	:root {
		font-size: 16px;
	}
}

@media screen and (min-width: 1600px) {
	:root {
		font-size: 18px;
	}
}

body {
	background-color: var(--background-color);
	color: var(--text-color);
	font: inherit;
}

article {
	padding: 0 15vw;
}

h1 {
	font-size:40px; 
	margin: 1em 0 0 0;
}

p {
	margin: 1em 0 1em 0;
}

ul li {
	margin: 0 0 0 3em;
}

footer{
	padding-bottom: 2rem;
}

