html {
	font: 16px/1.5 'PT Serif', serif;
}

header {
	display: flex;
}

.logo img {
	margin: 20px;
	margin-left: 40px;
}

header nav {
	display: flex;
	justify-content: space-between;
	width: 60%;
	margin: 0 auto;
}

header nav ul {
	display: flex;
}

header nav ul li {
	list-style-type: none;
	margin: 1em;
}

header nav ul:nth-child(1) li {
	text-transform: uppercase;
}

header nav ul:nth-child(2) li {
	border-right: 1px solid grey;
	padding-right: 0.5em;
	margin-left: 0em;
}

.input-group .btn {
	height: 40px;
}

.input-group {
	position: relative;
	display: inline-block;
	display: flex;
}

.form-control:focus {
	outline: 1px solid #54b6fe;
	outline-offset: -1px;
}

.input-group {
	display: flex;
	margin-top: 30px;
	margin-left: 200px;
}

.form-control {
	height: 40px;
	width: 388px;
	padding-left: 6px;
	border-radius: #017dd6;
	font-family: 'Lato';
	font-weight: 300;
	outline: 1px solid #017dd6;
	outline-offset: -1px;
	font-size: 16px;
}

.search-button {
	height: 40px;
	width: 60px;
	background-color: #017dd6;
	font-size: 15px;
	border-radius: 0;
	border-color: transparent;
	background-color: #017dd6;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.search-button:focus {
	outline: transparent;
}

.search-button:hover {
	cursor: pointer;
}

.search-button i {padding-auto;
	color: white;
	font-weight: 500px;
}

.language {
	width: 110px;
	border-color: transparent;
	margin-top: 40px;
	color: #017dd6;
	font-size: 20px;
	margin-left: 30px;
}

.language:active {
	border-color: transparent;
}

.language:hover {
	cursor: pointer;
}

select {
	border: 0px;
	outline: 0px;
	border: none;
	outline: none;
}

.signin {
	margin-top: 35px;
	margin-left: 50px;
	color: #017dd6;
	font-size: 20px;
	display: flex;
}

.signin a {
	font-family: Tahoma;
	text-decoration: none;
	color: #017dd6;
	text-decoration: none;
}

.signin img {
	margin-top: 2px;
	margin-left: 8px;
	height: 30px;
}

.register button {
	margin-top: 30px;
	margin-left: 15px;
	padding: 10px 10px 10px 10px;
	background-color: #fdb81e;
	color: black;
	border-radius: 20px;
}

.register button:focus {
	outline: none;
}

.register button:hover {
	cursor: pointer;
}